<!DOCTYPE html>
<html>
    <head>
        <title>BGM - {% block title %}{% endblock %} </title>
        <style>
            nav {
                display: block;
                padding: 5px;
                height: 3em;
            }
                nav li {
                    display: inline;
                }
                nav li a {
                    color: #000;
                    background-color: #ff6666;
                    margin-right: 2em;
                    padding: 1em;
                    border: 1px solid white;
                }

        </style>
    </head>
    <body>
    	<h1>BGM Sample App</h1>
        <nav>
            <li><a href="/bgm_app/">All Meetups!</a></li>
            <li><a href="/bgm_app/register">Register/Suggest a Meet up</a></li>
        </nav>
        {% block body_block %}
        This is body_block's default content.
        {% endblock %}
    </body>
</html>